[submodule "gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
        ignore = dirty
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2.1
        ignore = dirty
[submodule "third-party/luajit"]
	path = third-party/luajit
	url = http://luajit.org/git/luajit-2.0.git
        ignore = dirty
[submodule "third-party/libzip"]
	path = third-party/libzip
	url = https://github.com/nih-at/libzip.git
        ignore = dirty
[submodule "third-party/capnproto"]
	path = third-party/capnproto
	url = https://github.com/capnproto/capnproto.git
        ignore = dirty
