[submodule "nes"]
	path = cores/nes
	url = https://github.com/libretro/libretro-fceumm.git
        ignore = dirty
[submodule "genesis"]
	path = cores/genesis
	url = https://github.com/libretro/Genesis-Plus-GX.git
        ignore = dirty
[submodule "snes"]
	path = cores/snes
	url = https://github.com/libretro/snes9x.git
        ignore = dirty
[submodule "gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
        ignore = dirty
[submodule "atari2600"]
	path = cores/atari2600
	url = https://github.com/libretro/stella-libretro.git
        ignore = dirty
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2.1
        ignore = dirty
[submodule "gb"]
	path = cores/gb
	url = https://github.com/libretro/gambatte-libretro.git
        ignore = dirty
[submodule "pce"]
	path = cores/pce
	url = https://github.com/libretro/beetle-pce-fast-libretro.git
        ignore = dirty
[submodule "third-party/luajit"]
	path = third-party/luajit
	url = http://luajit.org/git/luajit-2.0.git
        ignore = dirty
[submodule "gba"]
	path = cores/gba
	url = https://github.com/libretro/mgba.git
	branch = libretro
        ignore = dirty
[submodule "third-party/libzip"]
	path = third-party/libzip
	url = https://github.com/nih-at/libzip.git
        ignore = dirty
[submodule "third-party/capnproto"]
	path = third-party/capnproto
	url = https://github.com/capnproto/capnproto.git
        ignore = dirty
