Package: com.libretro.gambatte
Name: gambatte
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of Gambatte
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
