Package: com.libretro.stella
Name: stella
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of Stella
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
