+*
autom4te.cache
aclocal.m4
depcomp
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
lightning-*.tar.*
ltmain.sh
missing
size
stamp-h1
test-driver
check/.deps
doc/.deps
lib/.deps
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
doc/mdate-sh
doc/texinfo.tex
lightning.pc
